:root {
  --primary-color: rgb(30, 12, 51);
  --secondary-color: rgb(78, 86, 155);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
  line-height: 1.7;
}

header,
footer {
  padding: 20px 35px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  display: inline;
  color: var(--secondary-color);
  text-shadow: -1px 1px 5px var(--secondary-color),
    1px -1px 5px var(--secondary-color);
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  float: right;
  margin: 7px 0;
}

header ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin: 0 30px;
  font-size: 22px;
}

.list-items {
  position: relative;
}

.list-items a:hover,
footer p:hover {
  color: white;
  text-shadow: 5px 5px 5px white, 5px -5px 5px white;
}

footer {
  font-size: 22px;
  width: 100%;
  padding: 40px 35px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  color: var(--secondary-color);
}

#main-about {
  display: flex;
  width: 85%;
  margin: 50px auto;
  padding: 50px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.about-me {
  background-color: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

.about-me h2 {
  text-align: right;
  border-bottom: 3px solid var(--secondary-color);
}

#projects {
  display: block;
}

#projects h2 {
  display: block;
  text-align: center;
  color: var(--primary-color);
  font-size: 30px;
}

.project-container {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.project-link2,
.project-link3,
.project-link4 {
  width: 400px;
  height: 400px;
  background-color: var(--primary-color);
  display: inline;
  align-items: center;
  margin: 20px;
}

.project-link1 {
  width: 600px;
  height: 600px;
  background-color: var(--primary-color);
  flex-basis: 85%;
}
