:root {
  --clr-main: rgb(4, 23, 75);
  --clr-background: rgb(145, 189, 231);
  --clr-text: rgb(255, 255, 255);
  --clr-shadow: rgb(145, 189, 231);
}

* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--clr-background);
  line-height: 1.7;
  margin: 0 auto;
}

/* Header Section */

#header-sticky {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
}

#header-sticky h1 {
  font-weight: bold;
  font-size: 36px;
  display: inline;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#header-sticky a {
  text-decoration: none;
  margin: 0 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#header-sticky nav {
  display: flex;
  align-items: center;
}

#header-sticky ul {
  list-style-type: none;
}

#header-sticky nav ul li {
  display: inline;
  font-size: 22px;
}

/* Text Style Section */

#main-about,
#projects h2,
header,
footer {
  padding: 20px 35px;
  background-color: var(--clr-main);
  outline: 10px double var(--clr-background);
  outline-offset: -20px;
}

.h-f-text {
  color: var(--clr-text);
  text-decoration: none;
}

.h-f-text:link {
  color: var(--clr-text);
  text-decoration: none;
}

.h-f-text:visited {
  color: var(--clr-text);
  text-decoration: none;
}

.h-f-text:hover {
  color: var(--clr-text);
  text-shadow: 3px 2px 0px var(--clr-shadow), 2.5px 1.5px 0px var(--clr-shadow),
    2px 1px 0px var(--clr-shadow), 1.5px 0.5px 0px var(--clr-shadow),
    1px 0px 0px var(--clr-shadow);
}

.at-sign {
  font-size: 16px;
  position: relative;
  bottom: 5px;
}

/* Main Section */

#main-about {
  display: flex;
  width: 85%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: var(--clr-main);
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
}

.about-me {
  text-align: right;
  width: 50%;
  padding: 20px;
  background-color: var(--clr-main);
  color: var(--clr-text);
}

.about-me img {
  display: inline-block;
  width: 100%;
}

.about-me h2 {
  display: inline-block;
  width: 100%;
  border-bottom: 3px solid var(--clr-background);
}

.about-text {
  text-align: center;
  width: 100%;
  text-align: center;
}

/* Project Section */

.project-container {
  display: block;
  width: 85%;
}

#projects {
  display: flex;
  justify-content: space-evenly;
}

.header2 {
  text-align: center;
  width: 12rem;
  height: 6rem;
  font-size: 30px;
  margin: 20px auto;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.project-link1 {
  display: flex;
  flex-basis: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 30px solid var(--clr-main);
  max-width: 775px;
  height: 400px;
  border-radius: 20px;
  background-image: url(../img/tekSess.png);
  background-size: 80rem;
  background-position: center;
  outline: 10px double var(--clr-background);
  outline-offset: -20px;
}

.project-link1 a {
  width: 85%;
}

.project-link2 {
  border-radius: 20px;
  background-image: url(../img/robot-gladiators.jpg);
  background-size: cover;
}

.project-link3 {
  border-radius: 20px;
  background-image: url(../img/tech-blog.png);
  background-size: 240%;
  background-repeat: no-repeat;
  background-position: left;
}

.project-link4 {
  border-radius: 20px;
  background-image: url(../img/run-buddy.png);
  background-size: contain;
}

.small-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 30px 10px;
}

.project-style {
  display: inline-block;
  width: 400px;
  height: 400px;
  border: 30px solid var(--clr-main);
  background-color: var(--clr-text);
  color: var(--clr-background);
  outline: 10px double var(--clr-background);
  outline-offset: -20px;
  font-size: 2em;
}

/* Footer Section */

footer {
  font-size: 28px;
  width: 100%;
  height: 3.25em;
  display: flex;
  border-top-right-radius: 75px;
  border-top-left-radius: 75px;
}

#contact p {
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 60px;
}

/* Hover Styling */

.hover-text1 {
  display: flex;
  width: 100%;
  height: 300px;
  transition: 300ms ease-in-out;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  font-weight: bolder;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
}

.hover-text2 {
  display: flex;
  flex-basis: auto;
  width: 290px;
  height: 300px;
  transform: translateX(25px) translateY(25px);
  transition: 300ms ease-in-out;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
}

#query-style {
  cursor: pointer;
}

.project-link1:hover .hover-text1,
.project-link2:hover .hover-text2,
.project-link3:hover .hover-text2,
.project-link4:hover .hover-text2 {
  background-color: var(--clr-main);
  color: var(--clr-background);
  border-radius: 2rem;
  visibility: visible;
  opacity: 0.7;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  #main-about {
    flex-direction: column;
  }
  .about-me {
    width: 100%;
  }
  ul.list-items {
    width: 100%;
    padding: 0;
    align-items: center;
  }
  .h-f-text {
    text-shadow: 3px 2px 0px var(--clr-shadow),
      2.5px 1.5px 0px var(--clr-shadow), 2px 1px 0px var(--clr-shadow),
      1.5px 0.5px 0px var(--clr-shadow), 1px 0px 0px var(--clr-shadow);
  }
  h2.h-f-text {
    text-align: center;
  }
  #query-style {
    visibility: visible;
    opacity: 0.9;
    background-color: var(--clr-main);
    color: var(--clr-background);
    font-size: 30px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 480px) {
  ul.list-items {
    width: 100%;
    padding: 0;
    align-items: center;
  }
  .h-f-text {
    text-shadow: 3px 2px 0px var(--clr-shadow),
      2.5px 1.5px 0px var(--clr-shadow), 2px 1px 0px var(--clr-shadow),
      1.5px 0.5px 0px var(--clr-shadow), 1px 0px 0px var(--clr-shadow);
  }
  section.small-projects {
    margin: 0;
  }
  #query-style {
    width: auto;
    visibility: visible;
    opacity: 0.9;
    background-color: var(--clr-main);
    color: var(--clr-background);
    font-size: 30px;
    border-radius: 20px;
  }
  div#query-style.hover-text2 {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 280px;
    transform: translateX(15px) translateY(30px);
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
  }
}

@media screen and (max-width: 400px) {
  div#query-style.hover-text2 {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 280px;
    transform: translateX(15px) translateY(30px);
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
  }

  footer p {
    position: relative;
    justify-content: center;
    font-size: 20px;
    top: 10px;
  }
}
